/* BODY */

/*********************
******* HEADER ******* 
*********************/
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/**********************
******* CONTENT ******* 
**********************/
/* Buttons to navigate to other pages */

.game-list {
    display: flex;
}

.btn-duck-hunt-game {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

.btn-scoreboard {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.profile-icon-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.profile-icon-container:hover {
    transform: scale(1.1);
}

.btn-profile-icon {
    width: 100%;
    height: 100%;
    scale: 200%;
}

/*********************
******* FOOTER ******* 
*********************/

.ufo-container {
    position: absolute;
    bottom: 0;
    left: 0%;
    /* Center the UFO horizontally within the footer */
    transform: translateX(-50%);
    /* Adjust to center-align the UFO */
    width: 40px;
    /* Adjust this width as needed */
    z-index: 10;
}

#ufo-moving {
    width: 125%;
    /* Set the width of the UFO image */
    position: relative;
    animation-name: move-ufo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move-ufo {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}


