body {
    background-color: lightskyblue;
    z-index: -2;
}


#mainContainer {
    z-index: 3;
    background-image: url('sprites/sprite main.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.duck{
    z-index: 1;
    transform: scale(4);

}


#duck {
    z-index: 2;
    /* transform: none; */
    background: url('sprites/duckHuntSprites.png') no-repeat -130px -121px;
	width: 34px;
	height: 24px;
}


.move-Up{ 

  position: relative;
  animation-name: moveUp;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}

.move-Right{ 

    position: relative;
    animation-name: moveRight;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

.move-Left{ 
    position: relative;
    animation-name: moveLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

/* .move-Right-Diagonal{ 

} */

/* .move-Left-Diagonal{ 
    
} */

.move-Right-Diagonal-up{ 
    position: relative;
    animation-name: moveDRup;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

.move-Left-Diagonal-up{ 
    transform: scaleX(-1);
    position: relative;
    animation-name: moveDLup;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

.move-Right-Diagonal-down{ 
    transform: scaleY(-1);
    position: relative;
    animation-name: moveDRdown;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

.move-Left-Diagonal-down{ 
    /* transform :scaleY(-1);
    transform :scaleX(-1); */
    position: relative;
    animation-name: moveDLdown;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}


@keyframes moveUp {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 340%;

    }
  
  }
  
  @keyframes moveRight {
    0% {
      left: 0;
    }
    100% {
      left: 200%;

    }
  }


  @keyframes moveLeft {
    0% {
      right: 0;
    }
    100% {
      right: 500%;

    }
  }

  @keyframes moveDRup {
    0% {
      transform: translate(0, 0);

    }
    100% {
      transform: translate(300%, 300%);

    }
}

    @keyframes moveDLup {
        0% {
          transform: translate(0, 0);
    
        }
        100% {
          transform: translate(-300%, 300%);
    
        }
  }


  @keyframes moveDRdown {
    0% {
      transform: translate(0, 0);

    }
    100% {
      transform: translate(300%, -300%);

    }
}

@keyframes moveDLdown {
    0% {
      transform: translate(0, 0);

    }
    100% {
      transform: translate(-300%, -300%);

    }
}
  


