body { 
  position: relative;
  background-color: lightskyblue;
  z-index:0;
}



#fieldContainer {
    background-image: url('sprites/sprite main.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#duck-container {
  background-color: black;
  z-index: 1;
}

#duck {
  width: 78px;
  height: 73px;
  background-image: url('sprites/duck/flyrightup.gif');
  background-size: 100%;
  /* background-color: blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  
}